body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 21px;
}

.logo {
  background: url("images/shortcut-icon.png") no-repeat center/cover;
  border-radius: 5px;
  display: flex;
  width: 2em;
  height: 2em;
}

.logo:active {
  position:relative;
	top:1px;
}

.logo-div {
  align-self: center;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #ffffff;
}

.mainandfooter {
  background-image: linear-gradient(#ffffff, #284a94);
}

main {
  margin: 7em 9em 7em 9em;
}

.nav-bar {
  color: black;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-evenly;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

#currentlyOn {
  border-bottom: 3px solid #fc284b;
  color: #fc284b;
}

.donate-button {
  color: #fc28a4!important;
}

.donate-button:active {
  position:relative;
	top:1px;
}

.nav-bar > a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.nav-bar > a:hover {
  border-bottom: 3px solid #fa405f;
}

footer {
  background-color: transparent;
  color: #ffffff;
  padding: 1.5em;
  margin-top: 7em;
  text-align: center;
}

.question {
  margin-top: 3em;
}

.feature {
  margin-top: 3em;
}

.red {
  color: red;
  font-weight: normal;
}

.feature-grid {
  display: grid;
  grid-template-columns: 45% 60%;
  margin-top: 3em;
}

.feature-grid > p {
  margin: 2em;
}

.feature-grid > img {
  justify-self: center;
}

.browser-logos {
  display: grid;
  grid-template-columns: 5em 5em 5em 5em 5em;
  justify-content: space-around;
  margin-top: 4em;
  height: 5em;
}

.browser-logos a {
  filter: drop-shadow(10px 15px 9px #4444dd);
}

.firefox-logo {
  background: url("./images/firefox-logo.png") no-repeat center/cover;
}

.chrome-logo {
  background: url("./images/chrome-logo.png") no-repeat center/cover;
}

.safari-logo {
  background: url("./images/safari-logo.png") no-repeat center/cover;
}

.opera-logo {
  background: url("./images/opera-logo.png") no-repeat center/cover;
}

.edge-logo {
  background: url("./images/edge-logo.png") no-repeat center/cover;
}

.download-page-main {
  margin: 5em 7em 15em 7em;
  display: grid;
}

#download-install {
  margin-top: 1em;
}

#install-info {
  font-size: 14px;
  margin-top: 2em;
}

#download-card {
  color: white;
  justify-self: center;
  width: 80%;
  margin-top: 3em;
  padding: 3em;
  border: 2px solid gray;
  border-radius: 8px;
  background-image: linear-gradient(#445d91, #54668f);
}

.download-button {
  box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.download-button:hover {
  background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.download-button:active {
  position:relative;
	top:1px;
}